.card {
    /* position: relative; */
    width: 325px;
    height: 250px;
    border: none;
    text-align: left;
    margin-bottom: 30px;
  }
  
  .card > .img-container {
    height: 100%;
    text-align: center;
    border-style: solid;
    border-color: black;
    }

  img {
    height: 200px;
    margin: 30px;
  }
  
  .card > .content {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
    font-size: 15px;
  }
  
  
  
  
  
  