@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy');
@import url('https://netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.css');

body {
  background-image: url(https://cdnb.artstation.com/p/assets/images/images/004/498/987/large/meghan-wissler-mwissler-bob-sburgerrestaurant.jpg?1484104923);
  background-size: cover;
  background-repeat: no-repeat;
  font-family:'Luckiest Guy', cursive;
}